

<form action="<%= users_url %>" method="POST">
  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">
  <label>
    Username<small>
      (This is the unique name used to personally identify you)
    </small><br>
    <input name="user[username]" value="<%= @user.username %>">
  </label><br>
  <label>
    Display Name<small>
      (This is the name that will generally be shown to other users)
    </small><br>
    <input name="user[display_name]" value="<%= @user.display_name %>">
  </label><br>
  <label>
    Password<br>
    <input name="user[password]" type="password">
  </label><br>
  <label>
    Email<br>
    <input name="user[email]" value="<%= @user.email %>">
  </label><br>
  <button>Register</button>
</form>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <label class="errors"><%= error %></label><br>
  <% end %>
<% end %>