<div class="summary-box">
  <div class="photo-frame">
    <img class="photo" src="<%= recipe.escape('first_photo') %>"></img>
  </div>
  <a class="save">Save</a>
  <div class="recipe-info">
    <h2>
      <input
        class="input edit"
        name="name"
        type="text"
        value="<%= recipe.escape('name').toTitleCase()%>">
      <label class="display"><%= recipe.escape('name').toTitleCase() %></label>
    </h2>
    <meter class="score" value="<%= recipe.escape('score') %>"></meter>
    <div class="recipe-desc">
      <div class="desc-header">
        <div id="reviews" class="expander modal">
          <label class="link" for="review-expander">
            Reviews (<%= recipe.reviews().length %>)
          </label>
          <input id="review-expander" type="checkbox">
          <div class="content window">
            <menu class="toolbar">
              <menuitem>
                <label for="review-expander">&#10005</button>
              </menuitem>
            </menu>
          </div>
        </div>
        <img class="thumb"
        src="<%= recipe.author ? recipe.author.avatar : null %>"></img>

        Recipe by
        <a href="#users/<%= recipe.author ? recipe.author.id : null %>">
          <%= recipe.author ? recipe.author.name : null %>
        </a>
     </div>
      <textarea name="desc" class="input edit"><%= recipe.escape('desc') %></textarea>
      <p class="display">"<%= recipe.escape('desc') %>"</p>
    </div>
  </div>
</div>
<menu class="recipe-menu">
  <menuitem>
    <a class="button">Recipe Box</a>
  </menuitem><menuitem>
    <a class="button">Shopping List</a>
  </menuitem><menuitem>
    <a class="button">Menu</a>
  </menuitem><menuitem>
    <a href="mailto:?&body=Check out this recipe: <%=window.location.href%>"
      class="button"><label>✉</label>Email</a>
  </menuitem><menuitem>
    <a class="button" class="print"><label>⎙</label>Print</a>
  </menuitem>
</menu>
<div class="ingredient-box">
  <h4> Ingredients <small>(<%= recipe.escape('servings') %> servings)</small> </h4>
</div>
<ul class="time-box">
  <li>
    <h5>Prep</h5>
    <% if (recipe.escape('prep_time') >= 3600) {%>
      <span class="num"><%= recipe.escape('prep_time') / 3600 %></span>hr
    <% } %>
    <span class="num"><%= recipe.escape('prep_time') / 60 % 60 %></span>min
  </li>
  <li>
    <h5>Cook</h5>
    <% if (recipe.escape('cook_time') >= 3600) {%>
      <span class="num"><%= recipe.escape('cook_time') / 3600 %></span>hr
    <% } %>
    <span class="num"><%= recipe.escape('cook_time') / 60 % 60 %></span>min
  </li>
  <li class="ready-in">
    <h5>Ready In</h5>
    <% var total =
        parseInt(recipe.escape('prep_time')) +
        parseInt(recipe.escape('cook_time')); %>
    <% if (total >= 3600) {%>
      <span class="num"><%= Math.floor(total / 3600) %></span>hr
    <% } %>
    <span class="num"><%= total / 60  % 60 %></span>min
  </li>
</ul>

<div class="directions-box">
  <h4> Directions </h4>
</div>

<div class="nutrition-box">
  <a class="attribution" href="http://platform.fatsecret.com">
  <img src="http://platform.fatsecret.com/api/static/images/fatsecret_platform_120_17.gif" border="0">
  </a>
  <h4> Nutrition (per serving) </h4>
  <ul>
    <% Object.keys(recipe.nutrition()).forEach(function (nf) { %>
      <li>
        <label><%= nf.toTitleCase() %></label>
        <label>
          <%= Math.round(recipe.nutrition()[nf]) %><%= recipe.getUnit(nf) %>
        </label>
        <meter
          value="<%= recipe.getDailyPercent(nf) %>"
          low=0.33
          high=0.66
          optimum="<%= recipe.getOptimal(nf) %>">
        </meter>
        <label>
          <%= Math.round(recipe.getDailyPercent(nf)*100) %>%
        </label>
      </li>
    <% }); %>
  </ul>
</div>

