<input type="checkbox">
<input
  class="input edit"
  name="unit_qty"
  type="text"
  placeholder="ex: 1/2"
  pattern="^\d+(?:\/\d+)*$"
  value="<%= parseFloat(model.escape('unit_qty')).toRat() %>">
<label class="display">
  <% var a = parseFloat(model.escape('unit_qty')).toRat(true).toString().split(' '); %>
  <%= a.length > 1 ? a.shift() : '' %>
  <% if (a.length > 0) { %>
    <% a = a[0].split(/\//); %>
    <% if (a.length > 1 ) { %>
    <span class="fraction">
      <span class="top"><%= a[0] %></span>
      <span class="bot"><%= a[1] %></span>
    </span>
    <% } else { %>
      <%= a[0] %>
    <% } %>
  <% } %>
</label>
<select class="input edit" name="unit">
  <% units.forEach(function (unit) { %>
    <option <%= model.get('unit') === unit ? 'selected' : '' %> >
      <%= unit %>
    </option>
  <% }); %>
</select>
<label class="display"><%= model.escape('unit')%></label>
<input
  class="input edit"
  name="name"
  type="text"
  minlength=2
  value="<%= model.escape('name') %>">
<label class="display"><%= model.escape('name') %></label>
<a class="delete edit">X</a>
