<form class="search">
  <label>
    <input name="criteria[recipe][name]" placeholder="Search">
  </label>
  <label>
    <ul class="recipe-args">
      <% log.recipe.forEach(function (rec) { %>
        <li class="<%= rec[0] %>" data-id="<%= rec %>">
          <%= (rec[0] != '' && rec[0] != '-' ? rec : rec.substring(1)) %>
          <a class="delete">X</a>
        </li>
      <% }); %>
    </ul>
  </label>

  <input id="name" name="order[name][asc]" type="checkbox" value="true">
  <input id="username" name="order[username][asc]" type="checkbox" value="true">
  <input id="prep_time" name="order[prep_time][asc]" type="checkbox" value="true">
  <input id="cook_time" name="order[cook_time][asc]" type="checkbox" value="true">
  <input id="servings" name="order[servings][asc]" type="checkbox" value="true">
  <input id="created_at" name="order[created_at][asc]" type="checkbox" value="true">

  <label>
    Results per Page
    <input name="limit" type="range" value="20" min="5" max="50">
  </label>

  <input name="page" type="range" value="1" min="1" max="1">

  <div class="advanced hidden">
    <label>
      Search by Ingredient
      <input name="criteria[ingredient_types][item_name]"></input>
      <ul class="ingredient-args">
        <% log.ingredient_types.forEach(function(ing) { %>
          <li class="<% ing[0] %>" data-id="<%= ing %>">
            <%= (ing[0] != '+' && tag[0] != '-' ? ing : ing.substring(1)) %>
            <a class="delete">X</a>
          </li>
        <% }); %>
      </ul>
    </label>
    <label>
      <input name="criteria[tags][name]"></input>
      <ul class="tag-args">
        <% log.tags.forEach(function (tag) { %>
          <li class="<%= tag[0] %>" data-id="<%= tag %>">
            <%= (tag[0] != '+' && tag[0] != '-' ? tag : tag.substring(1)) %>
            <a class="delete">X</a>
          </li>
        <% }); %>
      </ul>
    </label>
    <label>
      <input name="criteria[user][username]"></input>
      <ul class="user-args">
        <% log.user.forEach(function (user) { %>
          <li class="<%= user[0] %>" data-id="<%= user %>">
            <%= (user[0] != '+' && user[0] != '-' ? user : user.substring(1)) %>
            <a class="delete">X</a>
          </li>
        <% }); %>
      </ul>
    </label>
  </div>
</form>