<img src="<%= model.escape('avatar') %>"></img>
<div>
  <a href="#/users/<%= model.escape('user_id') %>">
  <%= model.escape('username') %>
  </a>
  <meter value="<%= model.escape('score') %>" min=0 max=5></meter>
</div>
<p><%= model.escape('body') %></p>