<!DOCTYPE html>
<html>
<head>
  <title>FallRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="modal-layer">
    <% unless user_logged_in? %>
      <%= render "shared/login" %>
    <% end %>
  </div>
  <%= render "shared/sitenav" %>
  <%= render "shared/usernav" %>
  <% if user_logged_in? %>
    <ul>
      <li><%= current_user.username %></li>
      <li>
        <form action="<%= session_url %>" method="POST">
          <input
            name="authenticity_token"
            type="hidden"
            value="<%= form_authenticity_token %>"
          >
          <input
            name="_method"
            type="hidden"
            value="DELETE">
          <button>Log Out</button>
        </form>
      </li>
    </ul>
  <% end %>

<%= yield %>

</body>
</html>
